.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.card-container{
    background-color: chocolate;
    width: 400px;
    height: 800px;
    
}
.card-items{
    margin: 50px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 100px  15px;
}
@media screen and (max-width:980px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 100px 15px;
    }
    .card-container{
        grid-template-columns: 1, 1fr;
    }
}
@media screen and (min-width:776px) {
    .products-container{
        grid-template-rows: 1fr;
        margin: 5px;
    }
    .card-container{
        grid-template-columns: 1, 1fr;
    }
}
