.shop-container{
    display: grid;
    grid-template-columns:3fr 1fr;
}
.card-container{
    background-color: chocolate;
    width: 300px;
    height: 800px;
    
}
.card-items{
    margin: 50px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 10px  15px;
}
@media screen and (max-width:980px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 100px 15px;
    }
    .card-container{
        display: grid;
        grid-template-columns: 1, 1fr;
    }
}
@media screen and (max-width:776px) {
    .products-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        order: 1;
        
        
    }
    .card-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1, 1fr;
        order: 2;
    }
}
